.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: var(--mainFont);
  font-size: 14px;

  width: 80vw;

  text-align: center;
}
